<!DOCTYPE html>
<html ng-app="forumApp">
   <head>
      <meta charset="utf-8">
      <title>Discussion Forum</title>


      <!-- Angular -->
      <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="../bower_components/angular-route/angular-route.js"></script>

      <script src="http://jashkenas.github.io/underscore/underscore-min.js"></script>
      <link rel="stylesheet" href="../bower_components\bootstrap\dist\css\bootstrap.min.css">

      <!-- Local -->
      <!-- JS -->
      <!-- <script type="text/javascript" src="../app.js"></script> -->
      <script type="text/javascript" src="app-forum.js"></script>
      <script type="text/javascript" src="forum-data.js"></script>
      <!-- CSS -->
      <link rel="stylesheet" href="../CSS/forum.css">

      <!-- <base href="/forums/"> -->
   </head>


   <body>
      <div class="container" id="forum-page">

         <header>
            <div class="page-header">
               <h1>Discussion Forum</h1>
            </div>
         </header>

         <div class="col-md-6 col-md-offset-3" ng-view>
            <!-- CONVO DATA HERE -->
         </div>


         <!-- <div ng-controller="ForumIndexCtrl"> -->


         <!-- </div> -->






         <!-- <div ng-controller="MyCtrl">
            <div ng-repeat="message in data.messages" ng-class="message.type">
                <hr>
                <div ng-if="showFrom(message)">
                    <div>From: {{message.from.name}}</div>
                </div>
                <div ng-if="showCreatedBy(message)">
                   <div>Created by: {{message.createdBy.name}}</div>
                </div>
                <div ng-if="showTo(message)">
                   <div>To: {{message.to.name}}</div>
                </div>
            </div>
         </div> -->






      </div>
   </body>
</html>


<!--
<h4>Add New Book</h4>
        <form ng-submit="createBook()">
          <div class="form-group">
            <input type="text" ng-model="newBook.title" class="form-control" placeholder="Title" autofocus>
          </div>
          <div class="form-group">
            <input type="text" ng-model="newBook.author" class="form-control" placeholder="Author">
          </div>
          <div class="form-group">
            <input type="text" ng-model="newBook.image" class="form-control" placeholder="Image">
          </div>
          <div class="form-group">
            <input type="text" ng-model="newBook.release_date" class="form-control" placeholder="Release Date">
          </div>
          <input type="submit" value="Save Book" class="btn btn-default">
        </form>
        <hr>

        <- show all books ->
        <div ng-repeat="book in books">
          <div class="row">
            <div class="col-xs-4">
              <img ng-src="{{book.image}}" class="img-responsive">
            </div>
            <div class="col-xs-8">

              <- book content ->
              <div ng-hide="book.editForm">
                <h5>{{book.title}}</h5>
                <p><strong>Year:</strong> {{book.author}}</p>
                <p><strong>Release Date:</strong> {{book.release_date}}</p>

                <- edit/delete buttons ->
                <button ng-click="book.editForm = true" class="btn btn-default">Edit</button>
                <button ng-click="deleteBook(book)" class="btn btn-default">Delete</button>
              </div>

              <- form to edit book ->
              <form ng-show="book.editForm" ng-submit="updateBook(book)">
                <div class="form-group">
                  <input type="text" ng-model="book.title" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="book.author" class="form-control" placeholder="Author">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="book.image" class="form-control" placeholder="Image">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="book.release_date" class="form-control" placeholder="Release Date">
                </div>
                <input type="submit" value="Save book" class="btn btn-default">
              </form>
            </div>
          </div>
          <hr>
        </div>
        <- end ng-repeat ->
      </div>
    </div>
  </div>

-->
